<%- include('../includes/header.ejs') %>
</head>
<body>
<%- include('../includes/admin-navigation.ejs') %>

<div class="container">
    <% if(errorMessage) { %>
        <div style="background-color: red;">
            <%= errorMessage %>
        </div>
    <% } %>
    <form action="/reset-password" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
            <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <a href="/login">Sign Up</a>
</div>

<%- include('../includes/footer.ejs') %>