<%- include('../includes/header.ejs') %>
</head>

<body>
    <%- include('../includes/admin-navigation.ejs') %>

    <div class="container">
        <% if(errorMessage) { %>
            <div style="background-color: red;">
                <%= errorMessage %>
            </div>
        <% } %>
        <form action="/sign-up" method="POST">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf"/>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="<%= oldValue.name %>"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="text" 
                    class="form-control <%= validationErrors.find(currentElement => currentElement.param ==='email') ? 'custom-error' : ''  %>" id="email" 
                    name="email" 
                    value="<%= oldValue.email %>"
                />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmpassword" name="confirmPassword">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <a href="/login">Login</a>
    </div>

    <%- include('../includes/footer.ejs') %>