<%- include('../includes/header.ejs') %>
</head>
<body>
    <%- include('../includes/admin-navigation.ejs') %>
    <div class="container">
        <form action="/admin/add-product" method="POST">
            <div class="form-group">
                <label for="title">Product Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= product.title %>"/>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" class="form-control" id="price" name="price" value="<%= product.price %>" />
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="description" name="description" value="<%= product.description %>" />
            </div>
            <div class="form-group">
                <label for="imageurl">Image Url</label>
                <input type="text" class="form-control" id="imageurl" name="imageUrl" value="<%= product.imageurl %>">
            </div>
                <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
<%- include('../includes/footer.ejs') %>