<%- include('../includes/header.ejs') %>
</head>
<body>
<%- include('../includes/admin-navigation.ejs') %>
<% for(product of products){ %>
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="/<%= product.image %>" alt="" />
                        <h2>$ <%= product.price %></h2>
                        <p><%= product.title %></p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        <a href="/admin/get-single-product/<%= product._id %>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Details</a>
                        <a href="/admin/edit-product/<%= product._id %>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Edit Product</a>
                        <form method="POST" action = "/admin/delete-product">
                            <input type="hidden" name="productId" value="<%= product._id %>" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>

<% } %>
    
<%- include('../includes/footer.ejs') %>